= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

%table.pretty
  %tr
    %th= sortable 'name'
    %th= sortable 'permalink'
    %th= sortable 'content'
    %th{:colspan => "2"}= link_to image_tag('add.png'), new_page_path, :title => 'Create'
  - for page in @pages
    %tr
      %td= link_to page.name, page.permalink, :title => 'View'
      %td= page.permalink
      %td= page.content
      %td= link_to image_tag('edit.png'), edit_page_path(page), :title => 'Edit'
      %td= link_to image_tag('delete.png'), page, :confirm => 'Are you sure?', :method => :delete, :title => 'Delete'
      
%p= will_paginate @pages, :class => 'pageable'

%p= page_entries_info @pages
